html {
  scroll-behavior: smooth;
}

body, html {
  /* height: 300px; */
  /* padding-top: 60px; */
  /* height: 100%; */
  width: 100%;
}

#robe {
   font-size: 1.1rem;
}

.navbar {
  /* background: none; */
  /* background-color: rgba(120, 155, 155, 0.5); */
  /* background-color: rgba(51, 60, 55, 0.927); */
  background-color: rgba(51, 60, 55, 0.8);
  margin-top: 12px;
}

h3 {
  font-size: 1.5rem;
  padding: 5px 5px;
  margin: 5px 0px;
  text-align: center;
  background-color: rgb(76, 146, 189);
  /* background-color: #3d75a4; */
  color: white;
  border-radius: 10px;
  font-family: 'Crete Round', serif;
}

/* Navbar title */
.navbar-brand {
   /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
   font-family: 'Crete Round', serif;
   font-size: 3vh;
   /* color: white; */
 }

 #book-now {
   border-radius: 12px;
   font-size: 1rem;
   font-size: 1vw;
}

.nav-item a {
   font-size: 1.3vw;
   /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
   font-family: 'Crete Round', serif;
   /* color: whitesmoke !important; */
 }

/* Media query */
@media screen and (max-width: 600px) {
   .navbar {
      margin-top: 0px;
   }
   /* .navbar-brand {
      font-size: 0.9rem;
   } */
   h3 {
      font-size: 2.2vh;
   }
   /* .nav-item a {
      font-size: 1rem;
   } */
   /* #book-now {
      font-size: 0.2rem; */
   /* } */
   #robe {
      display: none;
   }
}



/* #sea_green {
  display: block;
  max-height: 10vh;
  width: 100%;
  /* height: auto; */
/* height: 10px; */
/* } */

/* Center collapsed navbar items */
.navbar-collapse {
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* color: white; */
}

.navbar-nav {
   align-items: center;
}





/* Background image */
.sea-green {
  /* background-image: url("assets/img/Sea\ w\ green\ foreground.JPG"); */
  background-image: url("assets/img/Obelisk\ medium\ distance.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-position-y: -100px; */
  /* background-position:  */
  /* background-attachment: fixed; */
  /* background-position-y: 1000px; */
  height: 22vh;
}

.form-group {
  /* align-items: center; */
  text-align: center;
  margin-bottom: 0px;
}

#form-submit-btn {
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 10px;
}

#SAL-logo {
  max-height: 50px;
  /* float: right; */
  border-radius: 10px;
  /* display: inline-block; */
}

/* Carosel and Amenities */
/* #the_cottage { */
/* margin-top: 10px; */
/* } */

.container-fluid {
  margin-bottom: 12px;
}

.amenities-list {
  list-style: none;
  padding-left: 0;
}

/* Footer */

footer .container-fluid {
  /* background-color:grey; */
  color: white;
  background-color: #3d75a4;
}

/* #carouselFade {
   max-height: 50%;
} */

/* #the_cottage {
   max-height: 250px;
} */

.carousel-item img {
  /* max-height: 50vh; */
  min-width: auto;
  /* object-fit: contain; */
}

iframe {
   /* padding-top: 10px; */
   padding-top: 10px;
   /* padding-bottom: 10px; */
   /* display: block; */
   /* padding-bottom: 10px; */
}

.blockquote-footer {
   color: white;\;
}

.blockquote {
   background-color: rgba(2,3,3,0.4);
   border-radius: 6px;
}

#explore .row {
  min-height: 40vh;
  /* max-height: 50vh; */
}
/* #book-now {
   text-align: center;
} */

/* to offset links by height of navbar. not working */
a:target {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* font awesome icons */
/* i.fab {
   font-size: 20px;
   height: 20px;
} */

/* socials list */

.socials-list {
  padding: 0;
  margin-top: 8px;
  /* float: left; */
  text-align: center;
}

.socials-list li {
  display: inline;
  list-style-type: none;
  vertical-align: middle;
   padding-right: 10px;
   padding-left: 10px;
}

.socials-list li a {
  vertical-align: middle;
  /* color: white;   */
  text-decoration: none;
}

/* footer headings */
/* footer h5 {
  font-size: 1.2rem;
  padding: 3px;
} */

#robe-com-au {
  height: 50px;
}

.jumbotron {
  padding: 12px 12px;
  margin-bottom: 12px;
  background-color: rgba(51, 60, 55, 0.5);
  border-radius: 0.5rem;
}

#contact {
  background-image: url("assets/img/Obelisk\ medium\ distance.JPG");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /* height: 30%; */
  /* background-position: top; */
}

#price {
   /* float: center; */
   font-style: italic;
   font-size: 13px;
}

.footer-content {
   padding-top: 8px;

   /* align-content: center; */
   /* align-items: center; */
   /* padding-bottom: 0px; */
}

.footer-content p {
   font-size: 0.8rem;
   text-align: center;
   /* color: honeydew; */
   /* align-items: center; */
}

.footer-content a {
   color: honeydew;
}

.weatherwidget-io {
   border-radius: 16px;
}

.parallax {
   /* The image used */
  /* background-image: url("assets/img/Obelisk\ medium\ distance.JPG"); */
   /* Full height */
   /* height: 100%; */
   /* height: 50%; */

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

#addie-branch {
   background-image: url('assets/img/Addie_Sign.JPG');
   /* background-position: b; */
   /* background-repeat: no-repeat; */
   /* background-size: cover; */
   /* background-attachment: fixed; */
   /* background-size: 100px; */
   /* background-size: inherit; */
   /* height: 40vh; */
   background-position-y: 150px;
   /* background-position-x: -100px; */
   /* width: ; */
   /* background-size: contain; */
   /* width: 50px; */
   /* max-width: 50px; */
}

.jumbotron .form-group .form-question {
  /* display: block; */
  /* padding: 0px; */
  /* vertical-align: middle; */
  /* height: 50px; */
  /* align-items: center; */
}

.fab {
   color: whitesmoke;
   /* font-size: 90px; */
}

.fab:hover {
   color: grey;
}

/* .box {
   width: 200px;
   height: 200px;
   display: block !important;
} */

* {
  outline: 1px solid red;
  outline-offset: -1px;
}
