html {
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
}

#limestone {
   font-size: 1vw;
   display: none;
   /* font-style: normal; */
}

.navbar {
  background-color: rgba(51, 60, 55, 0.7);
  margin-top: 12px;
}

h3 {
  font-size: 1.9vw;
  padding: 5px 5px;
  margin: 5px 0px;
  text-align: center;
  background-color: rgb(76, 146, 189);
  /* background-color: #3d75a4; */
  color: white;
  border-radius: 10px;
  font-family: 'Crete Round', serif;
}

/* Navbar title */
.navbar-brand {
   font-family: 'Crete Round', serif;
   font-size: 1.8vw;
 }

/* Make Booking Button (TOP) */
#book-now {
   font-size: 1.2vw;
}

.book-now {
   border-radius: 12px;
   /* font-size: 1rem; */
}

/* Lower Book Now btn */
#book-now-2 {
   /* justify-content: center; */
   /* align-self: center; */
   /* align-content: center; */
   /* display: inline-block; */
   /* align-content: center; */
   /* align-items: flex-end; */
   /* margin-left: 50%; */
}

/* .material-icons.material-icons--outline {
   font-family: 'Material Icons Outline';
 } */

.nav-item a {
   font-size: 1.2vw;
   font-family: 'Crete Round', serif;
   /* padding: 30px 30px; */
   /* margin-right: 15%; */
 }

#sleeping-arrangements {
   /* float: right; */
}

/* Media query */
@media screen and (max-width: 768px) {
   .navbar {
      margin-top: 0px;
      /* padding-bottom: 0px; */
   }
   h3 {
      font-size: 5vw;
   }
   .navbar-brand {
      font-size: 4vw;
   }
   #limestone {
      display: none;
   }
   /* .navbar-nav {
      height: 100%;
   } */
   .navbar-collapse {
      /* height: 250px; */
      height: auto;
      padding-bottom: 0px;
   }
   .nav-item {
      width: 100%;
      /* height: 100%; */
   }
   .nav-item a {
      /* font-size: 2.8vw; */
      font-size: 4.5vw;
      /* margin-bottom: 2%; */
      /* margin-top: 2%; */
      /* width: 100%; */
      /* border-bottom: blanchedalmond; */
      outline: blanchedalmond;
      padding: 20px;
   }
   #book-now {
      font-size: 4.5vw;
      width: 100%;
      height: 100%;
      /* margin-bottom: 0px !important; */
   }
   .navbar-nav li:last-child > a {
      padding: 0px;
   }
}

/* END Media query */


/* Center collapsed navbar items */
.navbar-collapse {
  text-align: center;
  /* height: 1vmax; */
}

.navbar-collapse li {
   /* height: 50%; */
}

.navbar-nav {
   align-items: center;
}

/* Background image */
.sea-green {
  /* background-image: url("assets/img/Sea\ w\ green\ foreground.JPG"); */
  background-image: url("assets/img/Obelisk\ medium\ distance.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 height: 22vh;
}

#obelisk-nav-logo {
   border-radius: 5vw;
   /* size: 5vw; */
   height: auto;
   width: 5vw;
}

#price {
   font-style: italic;
   font-size: 14px;
   /* justify-content: center; */
   /* text-align: center; */
}

.form-group {
  text-align: center;
  margin-bottom: 0px;
}

#form-submit-btn {
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 10px;
}

#SAL-logo {
  max-height: 50px;
  border-radius: 10px;
}

.container-fluid {
  margin-bottom: 12px;
  margin: 2px 2px;
}

.amenities-list {
  list-style: none;
  padding-left: 0;
  /* padding-bottom: 6px; */
}

.amenities-list li {
   /* padding: 1px 1px; */
   /* width: 5px; */
   /* vertical-align: middle !important; */
}

.amenities-list li i {
   padding: 5px 5px;
   font-size: 22px;
   width: 50px;
   vertical-align: middle;
   text-align: center;
}

/* Footer */
footer .container-fluid {
  color: white;
  background-color: #3d75a4;
}

/* Carousel */
#carouselFade {
   /* padding-top: 6px;
   padding-bottom: 6px; */
   margin-top: 5px;
   margin-bottom: 5px;
}

.carousel-item img {
  min-width: auto;
}

/* Weather  */
iframe {
   padding-top: 10px;
   padding-bottom: 10px;
}

/* Reviews */
.blockquote-footer {
   color: white;\;
}

.blockquote {
   background-color: rgba(2,3,3,0.4);
   border-radius: 6px;
}

#explore .row {
  /* min-height: 40vh; */
}

/* to offset links by height of navbar. not working */
a:target {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* socials list */
.socials-list {
  padding: 0;
  margin-top: 8px;
  text-align: center;
}

.socials-list li {
  display: inline;
  list-style-type: none;
  vertical-align: middle;
   padding-right: 10px;
   padding-left: 10px;
}

.socials-list li a {
  vertical-align: middle;
  text-decoration: none;
}

/* Robe Council logo */
#robe-com-au {
  height: 50px;
}

/* Explore list */
#explore-list {
   list-style-type: none;
   text-align: center;
}

#explore-list li {
   display: inline-block;
   text-decoration: none;
   margin: 5px 5px;
   padding: 5px 5px;
}

#explore-list li a {
   text-decoration: none;
   padding: 10px 10px;
   margin: 10px 10px;
   background-color: lightgray;
   border: lightslategrey;
}

/* END Explore list */

.jumbotron {
  padding: 10px 14px;
  margin: 10px 10px;
  background-color: rgba(51, 60, 55, 0.5);
  border-radius: 0.5rem;
}

#FormControlInput1, #FormControlInput2 {
   width: 75%;
}

#contact {
  background-image: url("assets/img/Obelisk\ medium\ distance.JPG");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}


.footer-content {
   padding-top: 8px;
}

.footer-content p {
   font-size: 0.8rem;
   text-align: center;
}

.footer-content a {
   color: honeydew;
}

.weatherwidget-io {
   border-radius: 16px;
}


/* Reviews */
.mb-0 {
  color: whitesmoke;
  font-size: 1.4vw;
}

.reviewer {
   font-size: 0.9vw;
}

.parallax {
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

#addie-branch {
   background-image: url('assets/img/Addie_Sign.JPG');
   background-position-y: 150px;
}

.jumbotron .form-group .form-question {
}

.fab {
   color: whitesmoke;
   /* font-size: 90px; */
}

.fab:hover {
   color: grey;
}

.fas:hover {
   color: grey;
}

* {
  outline: 1px solid red;
  outline-offset: -1px;
}